/*
 * Pi Camera Module 3 (IMX708) Device Tree Overlay
 * Raspberry Pi 5 - MIPI CSI-2 with Autofocus
 */

/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2712";
    
    fragment@0 {
        target = <&i2c_csi_dsi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            
            imx708: imx708@1a {
                compatible = "sony,imx708";
                reg = <0x1a>;
                status = "okay";
                
                clocks = <&cam0_clk>;
                clock-names = "xclk";
                
                VANA1-supply = <&cam0_reg>;
                VANA2-supply = <&cam0_reg>;
                VDIG-supply = <&cam_dummy_reg>;
                VDDL-supply = <&cam_dummy_reg>;
                
                rotation = <180>;
                orientation = <2>;
                
                /* Autofocus support */
                lens-focus = <&imx708_vcm>;
                
                port {
                    imx708_0: endpoint {
                        remote-endpoint = <&csi0_ep>;
                        clock-lanes = <0>;
                        data-lanes = <1 2>;
                        clock-noncontinuous;
                        link-frequencies = /bits/ 64 <450000000>;
                    };
                };
            };
            
            /* Voice Coil Motor for Autofocus */
            imx708_vcm: dw9817@c {
                compatible = "dongwoon,dw9817";
                reg = <0x0c>;
                status = "okay";
                VANA-supply = <&cam0_reg>;
            };
        };
    };
    
    fragment@1 {
        target = <&csi0>;
        __overlay__ {
            status = "okay";
            
            port {
                csi0_ep: endpoint {
                    remote-endpoint = <&imx708_0>;
                    data-lanes = <1 2>;
                };
            };
        };
    };
    
    fragment@2 {
        target = <&i2c0if>;
        __overlay__ {
            status = "okay";
        };
    };
    
    fragment@3 {
        target = <&i2c0mux>;
        __overlay__ {
            status = "okay";
        };
    };
    
    __overrides__ {
        rotation = <&imx708>,"rotation:0";
        orientation = <&imx708>,"orientation:0";
        media-controller = <&csi0>,"brcm,media-controller?";
        cam0 = <&imx708>, "status",
               <&imx708_vcm>, "status";
        vcm = <&imx708_vcm>, "status";
    };
};
