// Raspberry Pi 5 - Waveshare DSI Display Overlays
// Device Tree Overlays for Waveshare MIPI DSI displays
// Copyright (C) 2025 The Android Open Source Project

/dts-v1/;
/plugin/;

// ============================================================================
// Waveshare 4" DSI Display (480x800)
// ============================================================================
/ {
    compatible = "brcm,bcm2712";
    
    fragment@0 {
        target = <&dsi1>;
        __overlay__ {
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;
            
            port {
                dsi1_out: endpoint {
                    remote-endpoint = <&panel_in>;
                };
            };
            
            panel: panel@0 {
                compatible = "waveshare,4inch-dsi-lcd";
                reg = <0>;
                
                width-mm = <52>;
                height-mm = <86>;
                
                panel-timing {
                    clock-frequency = <25000000>;
                    hactive = <480>;
                    vactive = <800>;
                    hfront-porch = <50>;
                    hback-porch = <50>;
                    hsync-len = <10>;
                    vfront-porch = <10>;
                    vback-porch = <10>;
                    vsync-len = <10>;
                };
                
                port {
                    panel_in: endpoint {
                        remote-endpoint = <&dsi1_out>;
                    };
                };
            };
        };
    };
    
    fragment@1 {
        target = <&i2c1>;
        __overlay__ {
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;
            
            gt911_4inch: gt911@14 {
                compatible = "goodix,gt911";
                reg = <0x14>;
                interrupt-parent = <&gpio>;
                interrupts = <4 2>;  // GPIO4, falling edge
                irq-gpios = <&gpio 4 0>;
                reset-gpios = <&gpio 17 0>;
                touchscreen-size-x = <480>;
                touchscreen-size-y = <800>;
                touchscreen-swapped-x-y;
            };
        };
    };
};
